body {
    background-color: #d9ddf8 ;
    margin:0;
}

header  {
    background-color: blueviolet;
    color: goldenrod;
    padding: 13px 26px 20px 26px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav {
    background-color: burlywood;
    color: blueviolet;
    margin: 0;
}


nav ul {
    margin: 0;
    list-style-type: none;
    padding: 13px 26px;
}

nav ul li{
     margin: 0px 13px;
     display: inline;
}

nav ul li a{ 
    color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

#sitetitle {
    margin:0;
}

main {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 13px 26px;
}

article p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

article img {
    padding: 60px;

}

article h3 {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body img {
    padding: 60px;
    
}

main div table *{
    border: 1px solid;
}
